<!--Paginated list of all burials with a brief summary of the info. User has ability to filter results by certain criteria and 
select specific records for more details-->

@model PaginatedList<Burial>

@{
    ViewData["Title"] = "BurialSummary";
}

@foreach (var b in Model)
{
    <div class="card card-outline-primary m-1 p-1">

        <div class="bg-light p-1">
            <h4>@b.id</h4>
            <span class="badge bg-info" style="float:right">
                Test
            </span>
        </div>

        <ul>
            <li>Other stuff 1</li>
            <li>Other stuff 2</li>
        </ul>
    </div>
}

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="BurialSummary" asp-route-pageNumber="@(Model.PageIndex - 1)" class="btn btn-default @prevDisabled">Previous </a>
<a asp-action="BurialSummary" asp-route-pageNumber="@(Model.PageIndex + 1)" class="btn btn-default @nextDisabled">Next </a>