<!--Paginated list of all burials with a brief summary of the info. User has ability to filter results by certain criteria and 
select specific records for more details-->

@model PaginatedList<Burial>

@{
    ViewData["Title"] = "Burial Findings";
}

<div class="container-fluid">
    <div class="row m-1 p-1">
        <div class="col-3">
            <h3>Filters</h3>
            @using (Html.BeginForm("BurialSummary", "Home", FormMethod.Get))
            {
                <input name="pageNumber" type="hidden" value=1/>

                <div class="form-group text-center">
                    <label>Textile Color</label><br/>
                    <input name="textColor" @if (ViewData["textColor"] != null) { @($"value={ViewData["textColor"]}") } />
                </div>

                <br />

                <div class="form-group text-center">
                    <label>Textile Structure</label><br />
                    <input name="structure" @if (ViewData["structure"] != null)
                    {
                        @($"value={ViewData["structure"]}")
                    } />
                </div>

                <br />

                <div class="form-group text-center">
                    <label>Sex</label><br />
                    <input name="sex" @if (ViewData["sex"] != null)
                    {
                        @($"value={ViewData["sex"]}")
                    } />
                </div>

                <br />

                <div class="form-group text-center">
                    <label>Burial Depth</label><br />
                    <input name="depth" @if (ViewData["depth"] != null)
                    {
                        @($"value={ViewData["depth"]}")
                    } />
                </div>

                <br />

                <div class="form-group text-center">
                    
                    <label>Stature</label><br/>
                    <input name="stature" @if (ViewData["stature"] != null)
                    {
                        @($"value={ViewData["stature"]}")
                    } />
                </div>

                <br />

                <div class="form-group text-center">
                    <label>Age at Death</label><br />
                    <input name="ageatdeath" @if (ViewData["ageAtDeath"] != null)
                    {
                        @($"value={ViewData["ageAtDeath"]}")
                    } />
                </div>

                <br />

                <div class="form-group text-center">
                    <label>Head Direction</label><br />
                    <input name="headDirection" @if (ViewData["headDirection"] != null)
                    {
                        @($"value={ViewData["headDirection"]}")
                    } />
                </div>

                <br />

                <div class="form-group text-center">
                    <label>Burial ID</label><br />
                    <input name="burialid" @if (ViewData["burialId"] != null)
                    {
                        @($"value={ViewData["burialId"]}")
                    } />
                </div>

                <br />

                <div class="form-group text-center">
                    <label>Hair Color</label><br />
                    <input name="hairColor" @if (ViewData["hairColor"] != null)
                    {
                        @($"value={ViewData["hairColor"]}")
                    } />
                </div>

                <br />

                <div class="form-group text-center">
                    <label>Face Bundle</label><br />
                    <input name="faceBundle" @if (ViewData["faceBundle"] != null)
                    {
                        @($"value={ViewData["faceBundle"]}")
                    } />
                </div>

                <br />

                <input class="btn btn-warning text-center" type="submit" value="Search">
            }
        </div>

        <div class="col-9">
            @*@if (User.IsInRole("Admin, Researcher"))
            {
            <a class="text-decoration-none text-white float-end" asp-controller="Researcher" asp-action="AddRecord">
            <button type="button" class="btn btn-warning">Add a new record</button>
            </a></br></br>
            }*@
            <a class="text-decoration-none text-white float-end" asp-controller="Researcher" asp-action="AddRecord">
                <button type="button" class="btn btn-warning">Add a new record</button>
            </a></br></br>
            @if (Model.Count < 0)
            {
                <p>No results</p>
            }
            @foreach (var b in Model)
            {
                <div class="card card-outline-primary m-1 p-1">

                    <form method="delete">
                        <input type="hidden" value="@b.id" />

                        <div class="modal fade" id="confirm-delete-modal" tabindex="-1" aria-labelledby="confirm-delete-modal-title" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="confirm-delete-modal-title">Confirm Deletion</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to remove this item?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-danger">Remove</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="bg-light p-1">
                        <h4>Burial Location: @(b.squarenorthsouth + " " + b.northsouth + " " + b.squareeastwest + " " + b.eastwest + " " + b.area + " " + b.burialnumber)</h4>
                        <span class="badge sex-color">
                            @(b.sex == "M" ? "Male" : b.sex == "F" ? "Female" : "Unknown Sex")
                        </span>
                    </div>

                    <ul>
                        <li>Depth: @b.depth</li>
                        <li>Length: @b.length</li>
                        <li>Head Direction: @b.headdirection</li>
                        <li>Preservation: @b.preservation</li>
                        <li>Wrapping: @b.wrapping</li>
                        <li>Age at Death: @b.ageatdeath</li>
                        <li>Hair Color: @b.haircolor</li>
                    </ul>

                    <div>
                        @*@if (User.IsInRole("Admin, Researcher"))
                        {
                            <span class="card-text">
                                <button type="button" class="btn btn-danger btn-sm float-end m-1" data-bs-toggle="modal" data-bs-target="#confirm-delete-modal">Remove</button>
                            </span>
                        }*@
                        <span class="card-text">
                            <button type="button" class="btn btn-danger btn-sm float-end m-1" data-bs-toggle="modal" data-bs-target="#confirm-delete-modal">Remove</button>
                        </span>

@*                        @if (User.IsInRole("Admin, Researcher"))
                        {
                            <span class="card-text">
                                <button type="submit" class="btn btn-info btn-sm float-end m-1">Edit</button>
                            </span>
                        }*@

                        <span class="card-text">
                            <button class="btn btn-info btn-sm float-end m-1"><a class="text-decoration-none text-white" asp-controller="Researcher" asp-action="Edit" asp-route-burialId="@b.id">Edit</a></button>
                        </span>

                        <span class="card-text">
                            <button class="btn btn-warning btn-sm float-end m-1"><a class="text-decoration-none text-white" asp-controller="Home" asp-action="BurialRecord" asp-route-burialId="@b.id">View Details</a></button>
                        </span>
                    </div>
                </div>
            }

            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }

            <a 
                asp-action="BurialSummary" 
                asp-route-pageNumber="@(Model.PageIndex - 1)"
                asp-route-textColor="@ViewData["textColor"]"
                asp-route-structure="@ViewData["structure"]"
                asp-route-sex="@ViewData["sex"]"
                asp-route-depth="@ViewData["depth"]"
                asp-route-stature="@ViewData["stature"]"
                asp-route-ageatdeath="@ViewData["ageAtDeath"]"
                asp-route-headDirection="@ViewData["headDirection"]"
                asp-route-burialid="@ViewData["burialId"]"
                asp-route-textileFunction="@ViewData["textileFunction"]"
                asp-route-hairColor="@ViewData["hairColor"]"
                asp-route-faceBundle="@ViewData["faceBundle"]"
                class="btn btn-default @prevDisabled">
                <img src="~/img/left-arrow.png" width="20" height="20" class="mr-1"/> 
                Previous 
            </a>
            <a 
                asp-action="BurialSummary" 
                asp-route-pageNumber="@(Model.PageIndex + 1)"
               asp-route-textColor="@ViewData["textColor"]"
               asp-route-structure="@ViewData["structure"]"
               asp-route-sex="@ViewData["sex"]"
               asp-route-depth="@ViewData["depth"]"
               asp-route-stature="@ViewData["stature"]"
               asp-route-ageatdeath="@ViewData["ageAtDeath"]"
               asp-route-headDirection="@ViewData["headDirection"]"
               asp-route-burialid="@ViewData["burialId"]"
               asp-route-textileFunction="@ViewData["textileFunction"]"
               asp-route-hairColor="@ViewData["hairColor"]"
               asp-route-faceBundle="@ViewData["faceBundle"]"
                class="btn btn-default @nextDisabled">
                Next 
                <img src="~/img/right-arrow.png" width="20" height="20" class="ml-1" />
            </a>
        </div>
    </div>
</div>