@*<!--Details for individual burial records in the BurialSummary.cshtml (i.e. field notes, photographs, measurements, and any
details captured about the mummy or items included in its burial.)-->
@{
    ViewData["Title"] = "Burial Record Body Analysis";
}

@model Burial

<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="BurialRecord" asp-route-burialid=@Model.id><button class="btn btn-outline-warning">Overview</button></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="BurialRecordTextiles" asp-route-burialid=@Model.id><button class="btn btn-warning">Textiles</button></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="BurialRecordBodyAnalysis" asp-route-burialid=@Model.id><button class="btn btn-outline-warning">Body Analysis</button></a>
    </li>
</ul>

</br>

<div class="row">
    <div class="col">
        <h3 class="text-center">Body Analysis</h3>
        <br />
        <table class="table table-bordered table-hover table-striped">
            <tbody>
                <tr>
                    <th>Date of Examination</th>
                    <td>@Model.dateofexamination</td>
                </tr>
                <tr>
                    <th>Preservation Index</th>
                    <td>@Model.preservationindex</td>
                </tr>
                <tr>
                    <th>Hair Color</th>
                    <td>@Model.haircolor</td>
                </tr>
                <tr>
                    <th>Observations</th>
                    <td>@Model.observations</td>
                </tr>
                <tr>
                    <th>Robust</th>
                    <td>@Model.robust</td>
                </tr>
                <tr>
                    <th>Supraorbitalridges</th>
                    <td>@Model.supraorbitalridges</td>
                </tr>
                <tr>
                    <th>Orbitedge</th>
                    <td>@Model.orbitedge</td>
                </tr>
                <tr>
                    <th>Parietal Bossing</th>
                    <td>@Model.parietalbossing</td>
                </tr>
                <tr>
                    <th>Gonion</th>
                    <td>@Model.gonion</td>
                </tr>
                <tr>
                    <th>Nuchal Crest</th>
                    <td>@Model.nuchalcrest</td>
                </tr>
                <tr>
                    <th>Zygomaticcrest</th>
                    <td>@Model.zygomaticcrest</td>
                </tr>
                <tr>
                    <th>Sphenooccipitalsynchrondrosis</th>
                    <td>@Model.sphenooccipitalsynchrondrosis</td>
                </tr>
                <tr>
                    <th>Lamboidsuture</th>
                    <td>@Model.lamboidsuture</td>
                </tr>
                <tr>
                    <th>Tooth Attrition</th>
                    <td>@Model.toothattrition</td>
                </tr>
                <tr>
                    <th>Tooth Eruption</th>
                    <td>@Model.tootheruption</td>
                </tr>
                <tr>
                    <th>Tooth Eruption Age Estimate</th>
                    <td>@Model.tootheruptionageestimate</td>
                </tr>
                <tr>
                    <th>Ventralarc</th>
                    <td>@Model.ventralarc</td>
                </tr>
                <tr>
                    <th>Subpubicangle</th>
                    <td>@Model.subpubicangle</td>
                </tr>
                <tr>
                    <th>Sciatic Notch</th>
                    <td>@Model.sciaticnotch</td>
                </tr>
                <tr>
                    <th>Pubic Bone</th>
                    <td>@Model.pubicbone</td>
                </tr>
                <tr>
                    <th>Preauricularsulcus</th>
                    <td>@Model.preauricularsulcus</td>
                </tr>
                <tr>
                    <th>Medial IP Ramus</th>
                    <td>@Model.medial_ip_ramus</td>
                </tr>
                <tr>
                    <th>Dorsalpitting</th>
                    <td>@Model.dorsalpitting</td>
                </tr>
                <tr>
                    <th>Femur</th>
                    <td>@Model.femur</td>
                </tr>
                <tr>
                    <th>Humerus</th>
                    <td>@Model.humerus</td>
                </tr>
                <tr>
                    <th>Femur Head Diameter</th>
                    <td>@Model.femurheaddiameter</td>
                </tr>
                <tr>
                    <th>Humerus Head Diameter</th>
                    <td>@Model.humerusheaddiameter</td>
                </tr>
                <tr>
                    <th>Femur Length</th>
                    <td>@Model.femurlength</td>
                </tr>
                                <tr>
                    <th>Humerus Length</th>
                    <td>@Model.humeruslength</td>
                </tr>
                <tr>
                    <th>Estimate Stature</th>
                    <td>@Model.estimatestature</td>
                </tr>
                <tr>
                    <th>Osteophytosis</th>
                    <td>@Model.osteophytosis</td>
                </tr>
                <tr>
                    <th>Caries Periodontal Disease</th>
                    <td>@Model.caries_periodontal_disease</td>
                </tr>
                <tr>
                    <th>Notes</th>
                    <td>@Model.notes</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>*@