<!--Display list of all users-->
@{
    ViewData["Title"] = "UserList";
}

@model List<UserViewModel>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Current Roles</th>
            <th>Manage</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <form method="post" asp-controller="Admin" asp-action="Delete">
                <input type="hidden" value="@user.Id" name="Id"/>

                <div class="modal fade" id="confirm-delete-modal" tabindex="-1" aria-labelledby="confirm-delete-modal-title" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="confirm-delete-modal-title">Confirm Deletion</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to remove this user?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-danger">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    @foreach (var role in user.Roles)
                    {
                        @role<br />
                    }
                </td>

                <td>
                    <button type="button" class="btn btn-danger btn-sm m-1" data-bs-toggle="modal" data-bs-target="#confirm-delete-modal">Remove</button>
                    <button class="btn btn-info btn-sm m-1"><a class="text-decoration-none text-white" asp-controller="Admin" asp-action="Edit" asp-route-Id="@user.Id">Edit</a></button>
                </td>
            </tr>
        }
    </tbody>
</table>

